{% assign categories_max = 0 %} 
{% assign path_type = "#" %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul>
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>      	  
          <a href="{{ category[0] | slugify | prepend: path_type | prepend: site.category_archive.path | relative_url }}">
            {{ category[0] }} <span class="taxonomy__count">({{ i }})</span>
          </a>
	</li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>


