<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>family.com.nokia.6131</key>
    <dict>
        <key>InheritsFrom</key>
        <array>
            <string>family.com.apple.external.all-phones.usb-bt</string>
        </array>
        <key>Services</key>
        <array>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.synchro</string>
                <key>ServiceClass</key>
                <string>IPHSyncMLSyncTransportServiceObexClient</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>IPHEnginePlist</key>
                    <string>SyncEngine.plist</string>
                    <key>SyncProperties2</key>
                    <string>PhoneConduit.plist</string>
                    <key>SyncMLVersion</key>
                    <string>SyncML11</string>
                    <key>SyncMLLargeObjectSupport</key>
                    <true/>
                    <key>SyncMLNumberOfChangesSupport</key>
                    <true/>
                    <key>SyncMLRefreshFromServerSupport</key>
                    <false/>
                    <key>SyncMLRemoteNeedsRelativePaths</key>
                    <false/>
                    <key>SyncMLBusySignalingSupport</key>
                    <false/>
                    <key>SyncMLOnlyOneBusySignaling</key>
                    <false/>
                    <key>SyncMLBusySignalingInterval</key>
                    <integer>60</integer>
                    <key>SyncMLSimulateBusySignalingWithEmptySync</key>
                    <false/>
                    <key>SyncDataClasses</key>
                    <plist>
                        <array>
                            <string>com.apple.pimsync.contacts</string>
                            <string>com.apple.pimsync.calendars</string>
                        </array>
                    </plist>
                    <key>DontSyncEventsPriorToDateValue.visible</key>
                    <true/>
                    <key>DontSyncEventsPriorToDateValue.default-value</key>
                    <string>1week</string>
                    <key>OnlySyncContactsWithPhoneNumber.visible</key>
                    <true/>
                    <key>OnlySyncContactsWithPhoneNumber.default-value</key>
                    <false/>
                    <key>SyncAllDayEventsKey.visible</key>
                    <false/>
                    <key>SyncAllDayEventsKey.default-value</key>
                    <true/>
                    <key>DontSyncEventsAfterDateValue.visible</key>
                    <true/>
                    <key>DontSyncEventsAfterDateValue.default-value</key>
                    <string>1month</string>
                    <key>DontSyncEventsAfterDateIsEnabled.visible</key>
                    <true/>
                    <key>DontSyncEventsAfterDateIsEnabled.default-value</key>
                    <true/>
                    <key>DontSyncEventsPriorToDateIsEnabled.visible</key>
                    <false/>
                    <key>DontSyncEventsPriorToDateIsEnabled.default-value</key>
                    <true/>
                    <key>SyncMLLocalSource</key>
                    <string>iSync</string>
                    <key>SyncMLCodec</key>
                    <string>SyncMLCodecLibWBXML</string>
                    <key>BTProtocolService</key>
                    <string>com.nokia.6131.protocol.bt.obex.syncml</string>
                    <key>USBProtocolService</key>
                    <string>com.nokia.6131.protocol.usb.obex.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.6131.protocol.usb.obex.syncml</string>
                <key>ServiceClass</key>
                <string>IPHObexService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ObexTargetUUID</key>
                    <string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
                    <key>ObexTimeOut</key>
                    <integer>60</integer>
                    <key>TransportService</key>
                    <string>com.nokia.6131.transport.usb.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.6131.protocol.bt.obex.syncml</string>
                <key>ServiceClass</key>
                <string>IPHObexService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ObexTargetUUID</key>
                    <string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
                    <key>ObexTimeOut</key>
                    <integer>60</integer>
                    <key>TransportService</key>
                    <string>com.nokia.6131.transport.rfcomm.syncml</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.protocol.usb.AT</string>
                <key>ServiceClass</key>
                <string>IPHSerialATService</string>
                <key>ServiceProperties</key>
                <dict/>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.6131.transport.rfcomm.syncml</string>
                <key>ServiceClass</key>
                <string>IPHRFCOMMChannelService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>RFCOMMChannelUUID</key>
                    <string>000000020000100080000002ee000002</string>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.transport.usb.modem</string>
                <key>ServiceClass</key>
                <string>IPHUSBCDCChannelService</string>
                <key>ServiceProperties</key>
                <dict/>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.nokia.6131.transport.usb.syncml</string>
                <key>ServiceClass</key>
                <string>IPHUSBObexChannelService</string>
                <key>ServiceProperties</key>
                <dict/>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.parser.vCal</string>
                <key>ServiceClass</key>
                <string>IPHSyncParserService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ParserType</key>
                    <string>vCal</string>
                    <key>Encoding</key>
                    <string>QUOTED-PRINTABLE</string>
                    <key>FoldingStyle</key>
                    <string>FoldingNG</string>
                    <key>Charset</key>
                    <string>UTF-8</string>
                    <key>AllDayEventFormat</key>
                    <string>AllDayEventCategories</string>
                    <key>vCalRecDailyInterval</key>
                    <array>
                        <integer>1</integer>
                    </array>
                    <key>vCalRecWeeklyInterval</key>
                    <array>
                        <integer>1</integer>
                        <integer>2</integer>
                    </array>
                    <key>vCalRecWeeklyWithWeekDay</key>
                    <false/>
                    <key>vCalRecMonthlyInterval</key>
                    <array>
                        <integer>1</integer>
                    </array>
                    <key>vCalRecMonthlyByPos</key>
                    <false/>
                    <key>vCalRecMonthlyByDayWithMonthDay</key>
                    <false/>
                    <key>vCalRecYearlyByMonthInterval</key>
                    <array>
                        <integer>1</integer>
                    </array>
                    <key>vCalRecYearlyByMonthWithMonthNumber</key>
                    <false/>
                    <key>EscapeBackslash</key>
                    <true/>
                    <key>IgnoreProperties</key>
                    <array>
                        <string>X-IRMC-LUID</string>
                    </array>
                    <key>AllDayCategories</key>
                    <array>
                        <string>MISCELLANEOUS</string>
                        <string>SPECIAL OCCASION</string>
                        <string>REMINDER</string>
                    </array>
                    <key>TimedCategories</key>
                    <array>
                        <string>MEETING</string>
                        <string>PHONE CALL</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.parser.vCard</string>
                <key>ServiceClass</key>
                <string>IPHSyncParserService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ParserType</key>
                    <string>vCard</string>
                    <key>Encoding</key>
                    <string>QUOTED-PRINTABLE</string>
                    <key>FoldingStyle</key>
                    <string>FoldingNG</string>
                    <key>Charset</key>
                    <string>UTF-8</string>
                    <key>EscapeBackslash</key>
                    <true/>
                    <key>IgnoreProperties</key>
                    <array>
                        <string>X-IRMC-LUID</string>
                    </array>
                    <key>IgnoreSubTypesForThisMainTypes</key>
                    <array>
                        <string>CELL</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.contacts</string>
                <key>ServiceClass</key>
                <string>IPHSyncDataClassService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>MimeType</key>
                    <string>text/x-vcard</string>
                    <key>ParserService</key>
                    <string>com.apple.pimsync.parser.vCard</string>
                    <key>RemoteName</key>
                    <string></string>
                    <key>needsCompanyNameInFirstName</key>
                    <true/>
                    <key>needsFullAddressInStreetField</key>
                    <false/>
                    <key>DataClassName</key>
                    <string>Contacts</string>
                    <key>nokiaSeries40ContactMaxDetails</key>
                    <integer>5</integer>
                </dict>
            </dict>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.pimsync.calendars</string>
                <key>ServiceClass</key>
                <string>IPHSyncDataClassService</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>MimeType</key>
                    <string>text/x-vcalendar</string>
                    <key>ParserService</key>
                    <string>com.apple.pimsync.parser.vCal</string>
                    <key>hasEvent</key>
                    <true/>
                    <key>RemoteName</key>
                    <string></string>
                    <key>hasAllDayEvents</key>
                    <true/>
                    <key>setAllDayTimeWithAlarmTime</key>
                    <true/>
                    <key>hasVCalRecurrence</key>
                    <true/>
                    <key>needsToFormatCountToUntilDate</key>
                    <true/>
                    <key>needsToFormatUntilDateToCount</key>
                    <false/>
                    <key>hasOneAlarmType</key>
                    <false/>
                    <key>hasTimeZone</key>
                    <false/>
                    <key>hasTask</key>
                    <true/>
                    <key>handleAllDayRecurrent</key>
                    <true/>
                    <key>doNotSyncAlarmIfAfterStartDateTime</key>
                    <true/>
                    <key>DataClassName</key>
                    <string>Calendars</string>
                    <key>needsDeleteAddOnModify</key>
                    <true/>
                    <key>dontSyncEventBeforeDate</key>
                    <string>1980-01-01 23:59:59 +0000</string>
                    <key>untilDateIsDateOnly</key>
                    <true/>
                    <key>exDatesAreDateOnly</key>
                    <false/>
                    <key>defaultDueDateWhenMissing</key>
                    <string>2020-01-01 00:00:00 +0000</string>
                    <key>dueDateIsDateOnly</key>
                    <false/>
                    <key>allDayHaveNoLocation</key>
                    <true/>
                </dict>
            </dict>
        </array>
    </dict>
    <key>com.nokia.6131</key>
    <dict>
        <key>Identification</key>
        <dict>
            <key>com.apple.usb.vendorid-modelid</key>
            <string>0x0421/0x047B</string>
            <key>com.apple.gmi+gmm</key>
            <string>Nokia+Nokia 6131</string>
        </dict>
        <key>InheritsFrom</key>
        <array>
            <string>family.com.nokia.6131</string>
        </array>
        <key>Services</key>
        <array>
            <dict>
                <key>ServiceName</key>
                <string>com.apple.model</string>
                <key>ServiceProperties</key>
                <dict>
                    <key>ModelName</key>
                    <string>6131</string>
                    <key>CompanyName</key>
                    <string>Nokia</string>
                    <key>ModelIcon</key>
                    <string>com.nokia.6131.tiff</string>
                </dict>
            </dict>
        </array>
    </dict>
<key>com.nokia.3109</key>
<dict>
        <key>Identification</key>
        <dict>
                <key>com.apple.cgmi+cgmm</key>
                <string>Nokia+Nokia 3109</string>
                <key>com.apple.gmi+gmm</key>
                <string>Nokia+Nokia 3109</string>
                <key>com.apple.usb.vendorid-modelid</key>
                <string>0x0421/0x045A</string>
        </dict>
        <key>InheritsFrom</key>
        <array>
                <string>family.com.nokia.series40.3rdEd.bus.usb-bt</string>
        </array>
        <key>Services</key>
        <array>
                <dict>
                        <key>ServiceName</key>
                        <string>com.apple.model</string>
                        <key>ServiceProperties</key>
                        <dict>
                                <key>ModelIcon</key>
                                <string>NOK3109.tiff</string>
                                <key>ModelName</key>
                                <string>3109</string>
                        </dict>
                </dict>
                <dict>
                        <key>ServiceName</key>
                        <string>com.apple.synchro</string>
                        <key>ServiceProperties</key>
                        <dict>
                                <key>MaxCityLength</key>
                                <integer>50</integer>
                                <key>MaxEMailLength</key>
                                <integer>60</integer>
                                <key>MaxEventLocationLength</key>
                                <integer>150</integer>
                                <key>MaxPhoneNumberLength</key>
                                <integer>48</integer>
                                <key>MaxPostalCodeLength</key>
                                <integer>50</integer>
                                <key>MaxStateLength</key>
                                <integer>50</integer>
                                <key>MaxStreetLength</key>
                                <integer>50</integer>
                                <key>MaxURLLength</key>
                                <integer>60</integer>
                        </dict>
                </dict>
        </array>
</dict>

</dict>