---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: 'Oswald Stencil';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/Oswald-Stencil-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
}

$footer-text-color: #eee;
$footer-background-color: #59554e;
$background-color: #eff0ec;
$link-color: #61928c;
$masthead-link-color: #666;

$type-size-9: 0.35em !default; // ~4px


@charset 'utf-8';

@import 'minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}'; // skin
@import 'minimal-mistakes'; // main partials

/* Custom CSS crap */
/* Site Title */
.site-title {
  font-family: 'Oswald Stencil';
  font-size: $type-size-2;
  text-transform: uppercase;
}

/* Site Subtitle */
.site-subtitle {
  font-family: 'Open Sans';
  font-size: $type-size-9;
  text-transform: uppercase;
}

/* Footer front color */
.page__footer {
  color: $footer-text-color;
}
